* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



  display: flex;
  justify-content: center;
  align-items: center;
}

.bg1 {
  background-image: url("https://i.pinimg.com/1200x/9b/58/04/9b58045955eff867e4afc52c25ee95b8.jpg");
}

.bg2 {
  background-image: url("https://i.pinimg.com/1200x/ed/d4/7c/edd47c22cf4c2c05cefde5ce68b35e11.jpg");
}

.text {
  color: white;
  font-size: 2em;
  font-weight: bold;
  text-shadow: 2px 2px 5px black;
  text-align: center;
}

.blackbox {
  background-color: black;
  color: white;
  padding: 80px;
  text-align: center;
}
